.swiper {
  width: 100%;
  height: calc(100vh - 56px);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiperItem1 {
  .logo {
    width: 4rem;
    height: 1.5rem;
    background: url('https://mc.kurogames.com/website-preface/assets/logo-7a7d21d1.png') no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    top: -5rem;
    left: 5rem;
    opacity: 0,
  }

  .top-bar {
    position: absolute;
    top: -4rem;
    right: 5rem;
    opacity: 0;
  }

  .mask-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
  }

  .media-silde {
    position: absolute;
    top: 12rem;
    right: -2rem;
    opacity: 0;
    width: 2rem;
    height: 16rem;


    .media-box {
      width: 2rem;
      height: 17rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .link-item {
        width: 1.8rem;
        height: 1.8rem;

        .qrCode {
          width: 8rem;
          height: 8rem;
          position: absolute;
          top: -1rem;
          right: 2rem;
          opacity: 0;
          transform: scale(0.1);
          transform-origin: 8rem 4rem;
        }


        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  
}
.t-message{
  background-color: rgba(58, 52, 52, 0.9);
  color:white;
  border-radius: 12px;
  box-shadow: none;
  height: 40px;
}