.swiper-container{
  .swiper {
    width: 100%;
    height: calc(100vh);
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @keyframes blink-animation  {
    0%{
      opacity: 0;
      bottom: 3rem;
    }
    40%{
      opacity: 1;
      bottom: 2rem;
    }
    80%{
      opacity: 0;
      bottom: 1rem;
    }
    100%{
      opacity: 0;
      bottom: 1rem;
    }
  }
  .footer{
    position: absolute;
    bottom: 3rem;
    width: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    animation:blink-animation 1s infinite ease-in-out;
    img{
      width: 100%;
      object-fit:contain;
    }
  }
}

.t-message {
  background-color: rgba(58, 52, 52, 0.9);
  color: white;
  border-radius: 12px;
  box-shadow: none;
  height: 40px;
}