#swiperItem2 {
    position: relative;
    width: 100%;
    height: 100%;

    .role-nav-item-bg {
        width: 100%;
        height: 100%;
        position: absolute;

        &::before {
            content: "";
            display: block;
            width: 4rem;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
            //    禁用鼠标事件
            pointer-events: none;
        }

        &::after {
            content: "";
            display: block;
            width: 4rem;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
            //    禁用鼠标事件
            pointer-events: none;
        }

        .bg-box {
            position: absolute;
            width: 100%;
            height: 100%;

            img {
                object-fit: cover;
            }

            @keyframes rotate {
                from {
                    transform: rotate(0deg);
                    /* 从 0 度开始 */
                }

                to {
                    transform: rotate(360deg);
                    /* 旋转到 360 度 */
                }
            }

            .light {
                position: absolute;
                top: -35rem;
                left: -35rem;
                transform: translate(-50%, -50%);
                width: 70rem;
                filter: blur(4px);
                height: 70rem;
                background: url(https://mc.kurogames.com/website-preface/assets/light4-8c14b79e.png) no-repeat center;
                background-size: 100% 100%;
                animation: rotate 120s linear infinite;
            }
            .lightVideo{
                width: 55rem;
                height: 55rem;
                position: absolute;
                top: 0;
                left: 0;
                background-color: transparent;
                video{
                    width: 55rem;
                    // 视频与页面背景融合 实现视频背景透明
                    mix-blend-mode: screen;
                    background-color: transparent;

                }
            }
        }

        .page-title-box {
            position: absolute;
            top: 4rem;
            left: 4rem;
            width: 16rem;
        }

        .page-bg-title-box {
            width: 100%;
            height: 2rem;
            position: absolute;
            top: 7.5rem;
            left: 4rem;
            display: flex;
            justify-content: left;

            .title-bg-1 {
                width: 4rem;
            }

            .title-bg-2 {
                margin-top: 0.3rem;
                margin-left: -0.8rem;
                height: 2px;
                width: calc(100% - 7rem);
            }
        }

        .role-intr-box {
            position: absolute;
            top: 15rem;
            left: 6rem;
            width: 25rem;
            height: 20rem;
            .role-name {
                width: 100%;
                height: 5rem;
                display: flex;
                justify-content: left;
                align-items: center;

                .role-name-img1 {
                    width: 3rem;
                    object-fit: contain;
                }

                p {
                    font-size: 3rem;
                    font-weight: 700;
                    letter-spacing: 0.2rem;
                    color: #dab67d;
                }

                .role-name-img2 {
                    width: 10rem;
                    object-fit: contain;
                }
            }

            .attr-voice-box {
                width: 22rem;
               
                .voice-box {
                    width: 8rem;
                    font-size: 0.8rem;
                    height: 1.5rem;
                    color: white;
                    line-height: 1.5rem;
                    border: #dab67d 1px solid;
                    border-radius: 1rem;
                    display: flex;
                    padding: 0 1rem;
                    justify-content: space-between;
                    align-items: center;
                   
                }

                .voice-text {
                    margin-top: 1rem;
                    width: 100%;
                    font-size: 0.8rem;
                    color: #dab67d;
                    text-align: left;
                }
            }
        }
        .role-camp{
            width: 25rem;
            height: 25rem;
            position: absolute;
            top: 10rem;
            left: 2rem;
            img{
                object-fit: contain;
            }
        }
        .role-box {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .role-nav-box {
        position: absolute;
        right: 8rem;
        height: 30rem;
        top: 50%;
        transform: translateY(-50%);

        .swiper {
            width: 15.8rem;
            height: 30rem;
            background-color: transparent;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: transparent;
            // border: 3px solid black;
            // box-sizing: border-box;
        }





        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .role-nav-item {
            position: relative;
            width: 100%;
            height: 100%;
            background: url(https://mc.kurogames.com/website-preface/assets/nav-bg-5befebce.png) no-repeat center;
            background-size: 101% 102%;
            transform: scale(0.8);
            transform-origin: right center;
            transition: all 0.5s ease;
            border-radius: 1.1rem 0 1.5rem 0;
            border-left: 1px solid #696660;
            border-right: 3px solid #696660;
            border-bottom: 3px solid #696660;
            border-top: 1px solid #696660;
            overflow: hidden;
            box-sizing: border-box;

            .nav-name-box {
                position: absolute;
                display: flex;
                justify-content: left;
                align-items: center;
                width: 14rem;
                height: 2rem;
                bottom: 0.1rem;
                font-size: 1rem;

                .left {
                    width: 3rem;
                    height: 1rem;
                }

                .center {
                    color: white;
                    text-align: center;
                    width: 4rem;
                    height: 2rem;
                }

                .center div:nth-child(1) {
                    font-weight: 700;
                    letter-spacing: 0.2rem;
                }

                .center div:nth-child(2) {
                    font-size: 0.7rem;
                    font-weight: 300;
                }

                .right {
                    width: 7rem;
                    height: 1rem;
                }

            }
        }

        .role-nav-item:hover {
            background: url(https://mc.kurogames.com/website-preface/assets/role-border-08d9372e.png) no-repeat center, url(https://mc.kurogames.com/website-preface/assets/nav-bg-hov-34e3d9bb.png) no-repeat center;
            background-size: 101% 102%;
            transform: scale(1);
            border-left: 1px solid #dab67d;
            border-right: 3px solid #dab67d;
            border-bottom: 3px solid #dab67d;
            border-top: 1px solid #dab67d;
        }

        .active {
            background: url(https://mc.kurogames.com/website-preface/assets/role-border-08d9372e.png) no-repeat center, url(https://mc.kurogames.com/website-preface/assets/nav-bg-hov-34e3d9bb.png) no-repeat center;
            background-size: 101% 102%;
            transform: scale(1);
            border-left: 1px solid #dab67d;
            border-right: 3px solid #dab67d;
            border-bottom: 3px solid #dab67d;
            border-top: 1px solid #dab67d;

        }

        .swiper-button-prev {
            width: 1.5rem;
            position: absolute;
            top: -3rem;
            left: 50%;
            transform: translateX(-50%) rotate(90deg);
            transform-origin: center;
        }

        .swiper-button-next {
            width: 1.5rem;
            position: absolute;
            bottom: -3rem;
            left: 50%;
            transform: translateX(-50%) rotate(90deg);
            transform-origin: center;
        }
    }

}